<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
       
        <span class="fs-4"><h1>Our service</h1></span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Full stack web development</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vero sequi aut! Repellendus magnam voluptas qui praesentium veniam eligendi, doloremque dolorum architecto. Exercitationem fugit optio omnis dolores expedita provident at fuga ipsum ut soluta odio repudiandae quasi, nulla obcaecati ea!</p>
       <img [src]="pic1">
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Project Management</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error neque, optio beatae expedita cupiditate quam sint praesentium, maiores quo illum saepe perspiciatis adipisci numquam voluptates accusamus reprehenderit fugiat nisi minus ipsam quidem? Modi ipsum neque repellendus? Unde eaque fugit blanditiis.</p>
         <img [src]="pic2">
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Software developer</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda amet commodi sit rem ipsa quidem dolore similique quibusdam, hic expedita et fugit ut veritatis deleniti eligendi omnis! Earum sequi explicabo optio temporibus excepturi vel, inventore reprehenderit obcaecati harum fuga molestias.</p>
          <img [src]="pic3">
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
</main>